* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  overflow: hidden;
  list-style: none;
}

.list-wrapper{
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
}

.restaurant-card {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  height: 180px;
  width: auto;

  p{margin: 0 12px 6px}

  .info {
    position: absolute;
    bottom: 0;
    left: 0;
    .title{font-weight: bold; font-size: 18px}
    .category{font-size: 12px}
  }
}

