<div class="container" [ngClass]="{'active': active}">

  <div *ngIf="restaurant">
    <div class="map-container">
      <app-map [latlng]="latlng" [rName]="restaurant.name"></app-map>
    </div>

    <div class="info-container">

      <div class="name-area">
        <h4 class="name">{{restaurant.name}}</h4>
        <h5 class="category">{{restaurant.category}}</h5>
      </div>

      <div class="info">

        <div class="address">
          <h4>{{restaurant.location.address}}</h4>
          <h5>{{restaurant.location.crossStreet}}</h5>
        </div>

        <div class="phone"><h5>{{restaurant.contact.formattedPhone}}</h5></div>

        <div class="twitter">
          <h5>{{ restaurant.contact?.twitter ? '@'+restaurant.contact.twitter : null }}</h5>
        </div>

      </div> <!-- info end-->

    </div> <!-- info container end-->

  </div>

</div>
